<h2>Submit yer rags!</h2>

<form method="POST" action="/articles">
    <label for="articleTitle">Title</label>
    <input type="text" name="articleTitle">

    <label for="articleBody">Body</label>
    <input type="text" name="articleBody">

    <input type="submit" value="Let's make some money!">
</form>
